.Editor {
  display: flex;
  gap: 10px;
}

.Editor input {
  flex: 1;
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}
.Editor > input:focus {
  outline: none;
  border: 2px solid rgb(247, 215, 6);
}
.Editor button {
  cursor: pointer;
  width: 80px;
  border: none;
  background-color: rgb(247, 215, 6);
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}
